.container{
    width: 400px;
    height: 400px;
    background-color: royalblue;
    display: flex;
    flex-direction: row-reverse;
}

.box{
    width: 100px;
    height: 100px;
    background-color: purple;
    border:1px solid;
}