.container{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 100px 100px;
    gap:10px 50px ;

}

.header{
    background-color: firebrick;
}

.slidebar{
    background-color: darkslategray;
}

.main{
    background-color: darkmagenta;
}

.footer{
    background-color: seagreen;
}