.container{
    display: grid;
    grid-auto-flow: column;
    gap: 10px 50px;

}

.header{
    background-color: firebrick;
}

.slidebar{
    background-color: darkslategray;
}

.main{
    background-color: darkmagenta;
}

.footer{
    background-color: seagreen;
}