.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,100px);
    gap: 10px;
}

.item1{
    background-color: goldenrod;
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:3;
}

.item2{
    background-color: chartreuse;
}

.item3{
    background-color: chartreuse;
}

.item4{
    background-color: chartreuse;
}

.item5{
    background-color: chartreuse;
}