h1 {
  text-align: center;
  color: whitesmoke;
}

.polaroid-card {
  display: inline-block;
  background-color: rgb(139, 138, 137);
  padding: 10px;
}

.polaroid-card:nth-of-type(even){
    transform: rotate(10deg);
}

.polaroid-card:nth-of-type(odd){
    transform: rotate(-10deg);
}

.polaroid-card-caption {
  text-align: center;
  font-size: large;
  font-weight: 500;
  color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
}

body {
  background: url(./56-2\ bg.jpg.jpg);
}

.polaroid-gallery {
  text-align: center;
  font-size: 32px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
