h1 {
  text-align: center;
  color: whitesmoke;
}

.polaroid-card {
  display: inline-block;
  background-color: rgb(139, 138, 137);
  padding: 10px;
  box-shadow: 4px 4px 8px 10px black;
}

.polaroid-card:hover{
  scale: 1.2;
}

.polaroid-card:nth-of-type(even)::before {
    content: '';
    display: block;
    background-color: rgba(245, 222, 179, 0.642);
    width: 120px;
    height: 30px;
    transform: rotate(-35deg) translate(-30px,-30px)
}

.polaroid-card:nth-of-type(even)::after {
  content: '';
  display: block;
  background-color: rgba(245, 222, 179, 0.642);
  width: 120px;
  height: 30px;
  transform: rotate(-35deg) translate(100px,80px)
}

.polaroid-card:nth-of-type(odd)::before {
  content: '';
  display: block;
  background-color: rgba(245, 222, 179, 0.642);
  width: 120px;
  height: 30px;
  transform: rotate(35deg) translate(100px,-80px)
}

.polaroid-card:nth-of-type(odd)::after {
  content: '';
  display: block;
  background-color: rgba(245, 222, 179, 0.642);
  width: 120px;
  height: 30px;
  transform: rotate(35deg) translate(-30px,30px)
}

.polaroid-card:nth-of-type(even) {
  transform: rotate(10deg);
}

.polaroid-card:nth-of-type(odd) {
  transform: rotate(-10deg);
}

.polaroid-card-caption {
  text-align: center;
  font-size: large;
  font-weight: 500;
  color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
}

body {
  background: url(./56-2\ bg.jpg.jpg);
}

.polaroid-gallery {
  text-align: center;
  font-size: 32px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
