.box {
  width: 200px;
  height: 200px;
  background-color: royalblue;
  color: white;
  text-align: center;
  line-height: 200px;
  font-size: 24px;
  transition: background-color 1s ease-out, transform 2s ease-in-out,
    box-shadow 3s ease-out 0.5s;
}

.box:hover {
  background-color: firebrick;
  transform: scale(1.2);
  box-shadow: 0px 0px 5px 5px black;
}
